{% extends "layout.html" %}

{% block title %}
    Delete Location
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="form-group">
            <select autocomplete="off" autofocus class="form-control" name="location" placeholder="Location" type="text">
                {% for location in locations %}
                <option value="{{location["location"]}}">{{location["location"]}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Delete</button>
    </form>
{% endblock %}