{% extends "layout.html" %}

{% block title %}
    Distance Finder
{% endblock %}

{% block main %}

     <form action="/index" method="post">
        <div class="form-group">
            <select autocomplete="off" autofocus class="form-control" name="location" placeholder="Current Location" type="text">
                {% for destination in destinations %}
                <option value="{{destination["location"]}}">{{destination["location"]}}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>

      <table class="table table-striped">
        <thead>
            <tr>
                <th>Location</th>
                <th>Distance from Current Location</th>
            </tr>
        </thead>
        <tbody>
                {% for location in locations %}
                <tr>
                    <td> {{ location["location"] }}</td>
                    <td> {{ location["distance"] }} miles</td>
                </tr>
                {% endfor %}

        </tbody>
    </table>
{% endblock %}
