{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>

        <script>
            user_info = $.getJSON("https://ipgeolocation.abstractapi.com/v1/?api_key=d8f8dfaab9974d04b17349f9fc8bc308", function(data) {});
            
            lat = user_info.responseJSON["latitude"];
            long = user_info.responseJSON["longitude"];
        </script>
    </form>
{% endblock %}
